<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    
    <add name="Petcenterdb" connectionString="Data Source=anderson.cqeh1iyi4ggy.us-west-2.rds.amazonaws.com;Initial Catalog=PETCENTERDB;User ID=anderson;Password=anderson;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    

  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="PETCENTER.MANTENIMIENTO.ServicioWCF.MAESTROS.MaestroServicio">
        <endpoint address="soapService" binding="basicHttpBinding" bindingConfiguration="MulContractbasicBinding"
          contract="PETCENTER.MANTENIMIENTO.ServicioWCF.MAESTROS.IMaestroServicio" />
        <endpoint address="" behaviorConfiguration="restPoxBehavior"
          binding="webHttpBinding" bindingConfiguration="MulContractWebBinding"
          contract="PETCENTER.MANTENIMIENTO.ServicioWCF.MAESTROS.IMaestroServicio" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8750/MaestroServicio.svc/" />
          </baseAddresses>
        </host>
      </service>
      <service name="PETCENTER.MANTENIMIENTO.ServicioWCF.SEGURIDAD.SeguridadServicio">
        <endpoint address="soapService" binding="basicHttpBinding" bindingConfiguration="MulContractbasicBinding"
          contract="PETCENTER.MANTENIMIENTO.ServicioWCF.SEGURIDAD.ISeguridadServicio" />
        <endpoint address="" behaviorConfiguration="restPoxBehavior"
          binding="webHttpBinding" bindingConfiguration="MulContractWebBinding"
          contract="PETCENTER.MANTENIMIENTO.ServicioWCF.SEGURIDAD.ISeguridadServicio" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8750/SeguridadServicio.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="PETCENTER.MANTENIMIENTO.ServicioWCF.SOLICITUDMANTENIMIENTO.SolicitudMantenimientoServicio">
        <endpoint address="soapService" binding="basicHttpBinding" bindingConfiguration="MulContractbasicBinding"
          contract="PETCENTER.MANTENIMIENTO.ServicioWCF.SOLICITUDMANTENIMIENTO.ISolicitudMantenimientoServicio" />
        <endpoint address="" behaviorConfiguration="restPoxBehavior"
          binding="webHttpBinding" bindingConfiguration="MulContractWebBinding"
          contract="PETCENTER.MANTENIMIENTO.ServicioWCF.SOLICITUDMANTENIMIENTO.ISolicitudMantenimientoServicio" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8750/SolicitudMantenimientoServicio.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="PETCENTER.MANTENIMIENTO.ServicioWCF.FICHAMANTENIMIENTO.FichaMantenimientoServicio">
        <endpoint address="soapService" binding="basicHttpBinding" bindingConfiguration="MulContractbasicBinding"
          contract="PETCENTER.MANTENIMIENTO.ServicioWCF.FICHAMANTENIMIENTO.IFichaMantenimientoServicio" />
        <endpoint address="" behaviorConfiguration="restPoxBehavior"
          binding="webHttpBinding" bindingConfiguration="MulContractWebBinding"
          contract="PETCENTER.MANTENIMIENTO.ServicioWCF.FICHAMANTENIMIENTO.IFichaMantenimientoServicio" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8750/FichaMantenimientoServicio.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="MaestroServicio.svc" service="PETCENTER.MANTENIMIENTO.ServicioWCF.MAESTROS.MaestroServicio"  />
        <add relativeAddress="SeguridadServicio.svc" service="PETCENTER.MANTENIMIENTO.ServicioWCF.SEGURIDAD.SeguridadServicio"  />
        <add relativeAddress="SolicitudMantenimientoServicio.svc" service="PETCENTER.MANTENIMIENTO.ServicioWCF.SOLICITUDMANTENIMIENTO.SolicitudMantenimientoServicio"  />
        <add relativeAddress="FichaMantenimientoServicio.svc" service="PETCENTER.MANTENIMIENTO.ServicioWCF.FICHAMANTENIMIENTO.FichaMantenimientoServicio"  />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <webHttpBinding>
        <binding name="MulContractWebBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="MulContractbasicBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restPoxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="restServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentInstances="2147483647" maxConcurrentSessions="20"/>
        </behavior>
        <behavior name="soapServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentInstances="2147483647" maxConcurrentSessions="20"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"
            httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentInstances="2147483647" maxConcurrentSessions="20"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="RutaLogMain" value="C:\LOG\" />
    <add key="NameLog" value="LogAcuerdosComerciales.txt" />
    <add key="NameLogOperaciones" value="LogAcuerdosComercialesOperaciones.txt" />
    <add key="NameLogMapa" value="LogMapa.csv" />
    <add key="EntLibSymmProvider" value="COMEX_EncriptacionClaveSimetrica.snk" />
    <add key="TrabajarConContextoLocal" value="true" />
    <add key="ipServicioBroker" value="http://10.72.14.43:80" />
    <add key="urlSociedad" value="/comex/sap/ConsultaSociedades" />
    <add key="SociedadPropietaria" value="301" />
    <add key="TipoOperador" value="31" />
    <add key="TipoContenedor" value="118" />
    <add key="FlagTrazasServicioWCF" value="S" />
    <add key="FlagTrazasServicioBrocker" value="N" />
    <add key="FormatDate"  value="yyyy-MM-dd HH:mm:ss"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AcronimoAplicacion" value="TRACCOAG" />
    <add key="DominioAplicacion" value="TRAMARSA" />

    <!--Tiempo de espera en segundos por procedimiento de ingreso data-->
    <add key="TimeOutCmd" value="120" />
    <!--Servicio Seguridad -->
    <add key="urlListaInfoUsuario" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/GetInfoBasicaUsuariosByCodigo2" />
    <add key="urlCambiarClaveWeb" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/CambiarClaveWeb" />
    <!--Servicio Comex ObtenerRolCliente-->
    <add key="urlObtenerRolCliente" value="http://10.72.20.26:2020/ClienteServicio.svc/Cliente/ObtenerRolesCliente" />
    <!--SERVICIO TRAMARSA.CLIENTES-->
    <!--<add key="urlTramarsaConsultarCliente" value="http://localhost:8734/ClienteServicio.svc/ConsultarClienteXCodigo" />-->
    <add key="urlTramarsaConsultarCliente" value="http://10.72.20.26:3000/ClienteServicio.svc/ConsultarClienteXCodigo" />

    <!--<add key="urlTramarsaConsultarClienteCorreo" value="http://localhost:8734/ClienteServicio.svc/ConsultarClienteCorreo" />-->
    <add key="urlTramarsaConsultarClienteCorreo" value="http://10.72.20.26:3000/ClienteServicio.svc/ConsultarClienteCorreo" />

    <!--<add key="urlTramarsaConsultarClientePorMatchCode" value="http://localhost:8734/ClienteServicio.svc/ConsultarClientePorMatchCode" />-->
    <add key="urlTramarsaConsultarClientePorMatchCode" value="http://10.72.20.26:3000/ClienteServicio.svc/ConsultarClientePorMatchCode" />

    <!--<CONFIGURACION DE CORREO> -->
    <add key="From" value="comexAdministrador@tramarsa.com" />
    <add key="Host" value="10.72.1.71" />
    <add key="Port" value="0" />
    <add key="EnableSsl" value="false" />
    <add key="UseDefaultCredentials" value="true" />
    <add key="CredentialsUser" value="" />
    <add key="CredentialsClave" value="" />
    <!--</> -->
    <!--ENCRIPTACION-->
    <add key="semillaEncriptacionPublica" value="S3rv1c10sGR$1p@$$W0rD" />
    <!--</>-->
    <add key="urlAcuerdosComerciales" value="acuerdoscomercialesAGMA.dev" />

    <add key="textoDominioUsuarioExterno" value="NINGUNO" />

  </appSettings>
</configuration>
